<ol class="posts">

	{{#each post in posts}}

		<li class="post">

			<div class="avatar-container inline-block">
				{{post-avatar avatar=post.user.photo}}
			</div>

			<div class="post-container inline-block">

				{{user-name name=post.user.name username=post.user.id}}

				{{{post.content}}}

				{{post-meta date=post.date}}

			</div>
		</li>

	{{/each}}

</ol>