<section class="login inline-block">

	<h2>Get going...</h2>
	
	<input type="text" placeholder="Enter your username ...">
	<input type="password" placeholder="Enter your password ...">

	<div class="form-submit">
		<input type="submit" value="Log in" class="inline-block">
		<p class="recover inline-block"><a href="/password">Recover password</a> or <a href="/signup">Sign up</a></p>
	</div>

</section>