<section class="login inline-block">

	<h2>Reset password</h2>
	
	<input type="email" placeholder="Enter your email">

	<div class="form-submit">
		<input type="submit" value="Reset password" class="inline-block">
	</div>

</section>