<section class="login inline-block">

	<h2>Create your account</h2>
	
	<input type="text" placeholder="Enter your name ...">
	<input type="text" placeholder="Enter your username ...">
	<input type="password" placeholder="Enter your password ...">

	<div class="form-submit">

		<input type="submit" value="Sign up" class="inline-block">
		<p class="recover inline-block"><a href="/login">Login</a></p>
	</div>

</section>