
<ol class="posts user-list">
		
	{{#each following in controller}}
		<li class="post">
			
			{{post-avatar avatar=user.photo}}
			
			<div class="post-container inline-block">
				<button class="post-publish" {{action "unFollowUser"}}>
					Unfollow
				</button>
				{{user-name name=user.name username=user.id}}
			</div>
			
		</li>
	{{/each}}

</ol>