
<ol class="posts user-list">
		
	{{#each following in controller}}
		<li class="post">
			<div class="avatar-container inline-block">
			{{! http://emberjs.com/api/classes/Ember.Handlebars.helpers.html#method_bind-attr }}
				<img {{bind-attr src="following.photo"}} class="avatar">
			</div>
			<div class="post-container inline-block">
				<button class="post-publish" {{action "unFollowUser" id}}>
					Unfollow
				</button>
				<p class="username"><strong>{{#link-to 'user' following.id class="user-link inline-block"}}{{following.name}}{{/link-to}}</strong></p>
			</div>
			
		</li>
	{{/each}}

</ol>