<section class="login inline-block">

	<h2>Get going...</h2>

	{{input type="text" placeholder="Enter your username.." action="login" value=username}}
	{{input type="password" placeholder="Enter your password.." action="login" value=password}}

	<div class="form-submit">
		<input type="submit" value="Log in" class="inline-block">
		<p class="recover inline-block">
			{{#link-to 'public.password'}}Recover Password{{/link-to}} 
				or 
			{{#link-to 'public'}}Sign up{{/link-to}}
		</p>
	</div>

</section>