<div class="top-bar">
	<div class="one-third inline-block">
		{{#link-to 'posts' class="home-link"}}Home{{/link-to}}
	</div>

	<div class="one-third inline-block">
		{{#link-to 'posts' class="logo"}}Telegram{{/link-to}}
	</div>

	<div class="one-third inline-block">
		{{session.user.name}}
	</div>

</div>